@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Управление проектами</h1>
    <img src="Media/ProviderLogo.png" alt="AlphaSoftware" style="margin: 30px 0px 30px 0px" />
    <p>Разработано <a href="http://alphasoftware.ru/">AlphaSoftware</a> на ASP.NET Core.</p><br/>
    <p><button onclick="window.location.href = '/Projects';" class="btn btn-primary">Перейти к управлению проектами</button></p><br />
    <p><button onclick="window.location.href = '/Executors';" class="btn btn-primary">Перейти к управлению исполнителями</button></p>
</div>
