@{
    ViewData["Title"] = "О программе";
}
<h1>@ViewData["Title"]</h1>
<p><br /></p>
<p>Механика работы приложения.</p>
<p>1. Приложение имеет 3-уровневую архитектуру MVC.</p>
<p>2. При запуске приложение подключается к боевой БД MS SQL на сервере <a href="http://somee.com/">somee.com</a>.</p>
<p>3. Боевое приложение опубликовано по адресу <a href="http://web-project.somee.com/">web-project.somee.com</a>.</p>
<p>4. При первом запуске приложения пустые таблицы БД наполняется данными из класса Models.SeedData.</p>
<p>5. При повторном запуске производится проверка таблиц и при наличии в них записей п.2 не отрабатывает.</p>
<p>6. Каталог Domain содержит модели данных относящиеся к домену.</p>
<p>7. Приложение позволяет осуществлять действия (создание/просмотр/редактирование/удаление) с сущностями Проекты и Исполнители.</p>
<p>8. Справочник должностей выделен в отдельную сущность.</p>
<p>9. Реализована фильтрация по части названия и заказчику проекта.</p>
<p>10. Взаимосвязи между сущностями не проработаны (нехватило времени).</p>
<p><br/></p>
<p>Дополнительная информация.</p>
<p>1. Приложение разработано в Visual Studio 2019 на С# 7.3.</p>
<p>2. В веб-фреймворке ASP .NET Core 3.1.8.</p>
<p>3. Схема разделения данных MVC 6.0.1.</p>
<p>4. Контроль выполнения запросов к БД через Entity Framework Profiler 5.0.5048.</p>
