@model WebProject.Domain.Executor

@{
    ViewData["Title"] = "Создание нового исполнителя";
}

<h1>Новый исполнитель</h1>

<h4>Заполните данные нового исполнителя</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecutorType" class="control-label"></label>
                <input asp-for="ExecutorType" class="form-control" />
                <span asp-validation-for="ExecutorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" class="form-control" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskId" class="control-label"></label>
                <input asp-for="TaskId" class="form-control" />
                <span asp-validation-for="TaskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку исполнителей</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
